<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewClient</servlet-name>
        <servlet-class>Servlets.NewClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRental</servlet-name>
        <servlet-class>Servlets.NewRental</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterRental</servlet-name>
        <servlet-class>Servlets.AlterRental</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewClient</servlet-name>
        <url-pattern>/NewClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRental</servlet-name>
        <url-pattern>/NewRental</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterRental</servlet-name>
        <url-pattern>/AlterRental</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
